name: Staging Release and publish

# Only trigger, when the build workflow succeeded
on:
  pull_request:
    paths-ignore:
      - "docs/**"
      - "www/**"

concurrency: ${{ github.workflow }}-${{ github.ref }}

jobs:
  release:
    name: Staging Release
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repo
        uses: actions/checkout@v2

      - name: Setup Node.js 14.x
        uses: actions/setup-node@v2
        with:
          node-version: 16.x

      - name: Creating .npmrc
        run: |
          cat << EOF > "$HOME/.npmrc"
            //registry.npmjs.org/:_authToken=$NPM_TOKEN
          EOF
        env:
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
          
      - name: Configure npm node prepend 
        run: npm config set scripts-prepend-node-path auto

      - name: Install Dependencies
        run: yarn

      - name: Build Medusa
        run: yarn build

      # - name: force pull
      #   run: git pull --force --no-tags origin master:master

      # - name: Save packages that will be updated 
      #   run: yarn changeset status --output package_versions.json

      # - name: Save packages that will be updated 
      #   run: cat package_versions.json

      # - name: unpublish previously
      #   run: |
      #     for i in $(jq '.releases | .[] | .name' package_versions.json)
      #     do
      #       packagename=$(sed -e 's/^"//' -e 's/"$//' <<< $i)
      #       stagingversion=$(npm view $packagename dist-tags.staging)
      #       npm unpublish $packagename@$stagingversion --force=true
      #     done

      - name: version staging packages
        run: yarn version:staging-snapshot
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Install Dependencies
        run: yarn
        env: 
          YARN_ENABLE_IMMUTABLE_INSTALLS: false

      - name: publish staging packages
        run: yarn release:staging